{% extends 'task/master.html' %}

{% block title %}
    <title>Password Reset</title>
{% endblock %}


{% block content %}
    <div class="change_password-box">
        
        {% for message in messages %}
            <div class="msg1" role="alert">
                <strong> </strong> {{message}}
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <h3 style="color:dark grey;font-family:verdana;">Set New Password</h3>
        
        <form action="/change_password_form/<{{uid}}>/<{{token}}>/" method="POST">
            {% csrf_token %}
                    
                <label>New Password</label>
                <input type="password" id="pass1" name="pass1" placeholder="Create a Password" Required>
                <br>
                
                <label>Confirm Password</label>
                <input type="password" id="c_pass" name="c_pass" placeholder="Confirm Your Password" Required> 
                <br>


                <button class="button button1" type="submit">Reset</button>
        </form>
    </div>

{% endblock %}