{% extends 'task/master.html' %}

{% block title %}
    <title>Login Password Forgot</title>
{% endblock %}


{% block content %}
    <div class="user_password_reset-box">

        {% for message in messages %}
            <div class="msg" role="alert">
                <strong> </strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <h3>Enter username for validation. </h3>

        <form action='/signin/forgot_password/' method='POST' >
        {% csrf_token %}
            
            <label>Username</label>
            <input type="text" class='form-control' id="uname" name="uname" placeholder="Enter Your Username" Required>
            
            <button class="button button1" type="submit">Next</button>
        </form>

    </div>

{% endblock %}