{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'option.css' %}">
   

    {% block title %}
    {% endblock %}

    
</head>
<body>
    <div id="mySidenav" class='sidenav'>

        {% if user.is_authenticated %}
            <p> <b>Username : </b>{{user}}</p>

            {% if count is 0 %}
                <p style="color:Green"> No Dues Left </p>
            {% else %}
                <p style="color:orange"> You've <i>{{count}}</i> incomplete task{{ count|pluralize:"s"}} </p>
            {% endif %}

            <a href='/signout'>SignOut</a>
        {% else %}
            <a href='/admin'>ADMIN</a>
            <a href='/signin'>SignIn</a>
        {% endif %}

    </div>

    
    {% block content %}
    {% endblock %}
   
  

</body>
</html>